@tailwind base;
@tailwind components;
@tailwind utilities;

.banner_border_radius {
  width: 50%;
  border-top-right-radius: 300px 750px;
    border-bottom-right-radius: 300px 844px;
  /* border-top-right-radius: 30px 150px;  */
  /* border-bottom-right-radius: 30px 150px;  */
  /* animation: banner_anim 0.7s ease-in-out normal; */
animation: banner 0.3s ease-in-out ;
}

@keyframes banner {
  0% {

    width: 100%;

    border-top-right-radius: 0; 
    border-bottom-right-radius: 0; 
  }
/* 50%{

  width: 75%;
} */
  100% {
    border-top-right-radius: 300px 750px;
    border-bottom-right-radius: 300px 844px;
    width: 50%;
  }
}


.text-ellipse{
  width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}